## Manipulating data

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('data/nyc_data.csv', parse_dates=['pickup_datetime',
                                                     'dropoff_datetime'])
fare = pd.read_csv('data/nyc_fare.csv', parse_dates=['pickup_datetime'])

### Selecting data

In [2]:
data[['trip_distance', 'trip_time_in_secs']].head(3)

   trip_distance  trip_time_in_secs
0           0.61                300
1           3.28                960
2           1.50                386

In [24]:
type(data)

pandas.core.frame.DataFrame

In [3]:
data.__dict__

{'_data': BlockManager
 Items: Index([u'medallion', u'hack_license', u'vendor_id', u'rate_code',
        u'store_and_fwd_flag', u'pickup_datetime', u'dropoff_datetime',
        u'passenger_count', u'trip_time_in_secs', u'trip_distance',
        u'pickup_longitude', u'pickup_latitude', u'dropoff_longitude',
        u'dropoff_latitude'],
       dtype='object')
 Axis 1: RangeIndex(start=0, stop=846945, step=1)
 FloatBlock: slice(9, 14, 1), 5 x 846945, dtype: float64
 IntBlock: [3, 7, 8], 3 x 846945, dtype: int64
 DatetimeBlock: slice(5, 7, 1), 2 x 846945, dtype: datetime64[ns]
 ObjectBlock: [0, 1, 2, 4], 4 x 846945, dtype: object,
 '_item_cache': {},
 '_ix': <pandas.core.indexing._IXIndexer at 0x7f27b09b28d0>,
 'is_copy': None}

In [19]:
import pprint
pprint.pprint(data.head(10))

                          medallion                      hack_license  \
0  76942C3205E17D7E7FE5A9F709D16434  25BA06A87905667AA1FE5990E33F0E2E
1  517C6B330DBB3F055D007B07512628B3  2C19FBEE1A6E05612EFE4C958C14BC7F
2  ED15611F168E41B33619C83D900FE266  754AEBD7C80DA17BA1D81D89FB6F4D1D
3  B33E704CC189E80C9671230C16527BBC  6789C77E1CBDC850C450D72204702976
4  BD5CC6A22D05EB2D5C8235526A2A4276  5E8F2C93B5220A922699FEBAFC2F7A54
5  61E558C4FCB0BCB8562FC37B06B97FFE  76DC5E351A0E646679BCA84B18B37B9A
6  36EDC01D57A6489E2DEE50734ECB327D  35E93075DA51FFDEFA6B3FA0C49A0C70
7  131162C7685521FA81608D3C42E4EF29  A1C3B89CD387ABD20F337A2DA15F88D7
8  22467390B5CCC51FD1B12659F6084B2F  12EED5AC20F50C538A3C9F3270A63EFA
9  939D5E5E9555C02F0DB5B4B4F2D6BCBC  0413E28D43093EFA4044A8D30B84DAF6

  vendor_id  rate_code store_and_fwd_flag     pickup_datetime  \
0       VTS          1                NaN 2013-01-01 00:00:00
1       VTS          1                NaN 2013-01-01 00:05:00
2       CMT          1                  N 2013-01-01 00:05:52
3       VTS          1                NaN 2013-01-01 00:06:00
4       VTS          1                NaN 2013-01-01 00:06:00
5       VTS          1                NaN 2013-01-01 00:07:00
6       VTS          1                NaN 2013-01-01 00:08:00
7       CMT          1                  N 2013-01-01 00:08:38
8       VTS          1                NaN 2013-01-01 00:09:00
9       CMT          1                  N 2013-01-01 00:09:32

     dropoff_datetime  passenger_count  trip_time_in_secs  trip_distance  \
0 2013-01-01 00:05:00                3                300           0.61
1 2013-01-01 00:21:00                1                960           3.28
2 2013-01-01 00:12:18                1                386           1.50
3 2013-01-01 00:06:00                6                  0           0.00
4 2013-01-01 00:12:00                2                360           1.31
5 2013-01-01 00:34:00                1               1620           5.81
6 2013-01-01 00:15:00                5                420           1.25
7 2013-01-01 00:18:20                2                581           1.80
8 2013-01-01 00:20:00                1                660           1.79
9 2013-01-01 00:19:58                1                625           1.70

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
0        -73.955925        40.781887         -73.963181         40.777832
1        -74.005501        40.745735         -73.964943         40.755722
2        -73.969955        40.799770         -73.954567         40.787392
3        -73.991432        40.755081         -73.991417         40.755085
4        -73.966225        40.773716         -73.955399         40.782597
5        -73.955238        40.768978         -73.994064         40.720299
6        -73.985580        40.752197         -73.988777         40.737244
7        -73.999413        40.730137         -73.983047         40.741844
8        -73.992180        40.738644         -73.973099         40.749355
9        -74.006554        40.740540         -73.980469         40.730408

In [22]:
data.loc[0]

medallion             76942C3205E17D7E7FE5A9F709D16434
hack_license          25BA06A87905667AA1FE5990E33F0E2E
vendor_id                                          VTS
rate_code                                            1
store_and_fwd_flag                                 NaN
pickup_datetime                    2013-01-01 00:00:00
dropoff_datetime                   2013-01-01 00:05:00
passenger_count                                      3
trip_time_in_secs                                  300
trip_distance                                     0.61
pickup_longitude                              -73.9559
pickup_latitude                                40.7819
dropoff_longitude                             -73.9632
dropoff_latitude                               40.7778
Name: 0, dtype: object

In [26]:
data.loc[[0, 100000]]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,76942C3205E17D7E7FE5A9F709D16434,25BA06A87905667AA1FE5990E33F0E2E,VTS,1,NaN,2013-01-01 00:00:00,2013-01-01 00:05:00,3,300,0.61,-73.955925,40.781887,-73.963181,40.777832
100000,7461F7106D33D3A5775F4245724606FD,BACEA353BB4106A005BB7836BDCAC0C3,VTS,1,NaN,2013-02-12 18:10:00,2013-02-12 18:20:00,2,600,2.02,-73.966454,40.770512,-73.958862,40.778042

In [27]:
data.loc[1000:2000:10,
         ['trip_distance', 'trip_time_in_secs']]

      trip_distance  trip_time_in_secs
1000           1.00                441
1010           3.80                691
1020           0.00                  7
1030           4.20                902
1040           3.40               1278
1050           1.00                242
1060           1.48                300
1070           3.03                600
1080           0.60                135
1090           2.80                780
1100           2.62                840
1110           2.30                647
1120           1.30                360
1130           1.36                480
1140           2.90                720
1150           2.87                600
1160           2.70                491
1170           2.50                363
1180           1.11                360
1190           1.11                300
1200           0.90                240
1210           4.90                884
1220           2.84                960
1230           2.60                916
1240          17.00               2100
1250           4.00                900
1260           0.63                120
1270           4.40                773
1280           1.10                319
1290           1.42                240
...             ...                ...
1710           1.00                240
1720           1.30                388
1730           0.31                120
1740           2.80                423
1750           1.60                591
1760           1.24                300
1770           1.80                457
1780           4.47               1320
1790           3.50                627
1800           0.80                196
1810           2.86                420
1820           1.02                180
1830           4.59                840
1840           1.79                240
1850           0.33                120
1860           1.50                355
1870           0.97                360
1880           0.96                240
1890           1.39                300
1900           0.60                204
1910           1.40                901
1920           1.65                480
1930           2.75                660
1940           0.90                248
1950           1.33                420
1960           7.70                883
1970           2.71                660
1980           2.30                360
1990           0.13                 60
2000           9.60                963

[101 rows x 2 columns]

In [28]:
data.loc[data.trip_distance>50]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
1853,DA2A0A9EBD9AFD25013CF83805B61D6D,A3BCE60F48302B63C4B7AAE443960704,CMT,1,N,2013-01-01 21:41:03,2013-01-01 21:56:37,1,934,52.20,-73.979576,40.743626,-73.941902,40.807281
6316,6BD1B641A1CD55803A21560299B985A7,A33DB5A909ADBFCE2AB057264141C8E9,CMT,1,N,2013-01-04 06:44:21,2013-01-04 07:17:14,1,1973,96.30,-73.959785,40.762497,-73.962440,40.662910
8683,E95D27A43DC7A5F0C015409386BB49DB,8A6EB7FA7E6A3F4A50C717871C068D72,CMT,1,N,2013-01-05 01:51:08,2013-01-05 02:23:01,1,1913,52.90,-74.006119,40.735157,-73.958694,40.714905
24381,A38882246FC6439948FA470459F94134,8A60E3668580091A4BB124E9BDAFDD89,CMT,1,N,2013-01-12 03:02:55,2013-01-12 03:24:47,1,1312,66.20,-73.966873,40.683315,-73.916885,40.754852
54723,0F48C5AE255A294B4E88ECC3CED0CFC5,C92D893B061C29C152ADF42B15317C3E,CMT,5,N,2013-01-24 21:07:13,2013-01-24 21:31:44,1,1471,79.40,-73.885735,40.771580,-73.984947,40.758060
90068,7B59F6023736C5217B613D17B4ED6A9C,F2D89276E3886C6A8D27AE463637FF36,CMT,1,N,2013-02-08 01:54:21,2013-02-08 02:02:03,1,461,70.90,-73.985512,40.742313,-73.993950,40.720837
115471,FB0FAE6EABFE14F45600AD382B52EFE5,0D39DD3359634605EAC8B451295E8186,CMT,1,N,2013-02-18 19:52:08,2013-02-18 20:07:33,1,925,67.20,-73.874474,40.773975,-73.937866,40.723824
119002,A51E7B7371667690E65D88307FBBA229,3A6EDD62A2933A11545527FDE55DAC52,CMT,1,N,2013-02-20 12:20:03,2013-02-20 12:43:12,1,1389,87.90,-73.862915,40.769157,-73.973579,40.748199
134839,FA189EABBB4058AC0359AA1CF30F5313,C707B5A8C6AEF269564272AF66B37564,CMT,1,Y,2013-02-26 17:54:11,2013-02-26 18:45:03,1,3052,69.80,-73.989853,40.729340,-73.964035,40.771950
157050,C4580AE98B332B1E4B6B822B1C2D03BE,E2CB66B7D37105F7C3364DFF61E4D487,VTS,2,NaN,2013-03-07 12:34:00,2013-03-07 15:24:00,6,10200,60.14,-73.777405,40.646626,-73.982193,40.769535
201876,DBCD64B365502F85569B4A264B798AAE,D404427B22B187FE0460668FDEC9937E,CMT,1,N,2013-03-25 09:30:28,2013-03-25 10:07:32,2,2224,61.00,-73.988136,40.749702,-73.887688,40.859402
210667,BD4738379B8C2E8168F48CFFDE2F94E6,E6F2B8515FE5A32AACF884FBA21F0170,CMT,1,N,2013-03-28 23:25:31,2013-03-28 23:36:47,1,675,52.50,-73.979370,40.766933,-73.992043,40.759903
238505,4ADDFBA1E3FD055AB4854D003976F263,2B09130C92CF5199315044DFE89D6356,CMT,1,N,2013-04-09 15:10:48,2013-04-09 15:19:54,1,545,85.30,-73.979851,40.764091,-73.982155,40.777206
305690,A895384C359AABDA144AF574989DA1C3,CEEB6BCC5E4705A32043BCA2DBA78E3E,CMT,1,N,2013-05-06 12:35:03,2013-05-06 12:45:28,1,623,50.50,-73.978287,40.773117,-73.978287,40.773117
450941,849397BEC809E0CBF9FF645FE7FD96A8,BC7E6894AF102A345E3D050121FAA1F2,CMT,1,N,2013-07-09 13:51:02,2013-07-09 14:13:53,4,1371,88.00,-73.987518,40.747070,-73.870758,40.772087
504497,7237EC7ABD6114EDDC87A3AA846F8418,D52502537E2DF62C9BFFECF5A387E7E9,CMT,1,N,2013-08-02 11:22:31,2013-08-02 11:33:03,1,631,6005123.00,-73.997467,40.736397,-73.991882,40.764629
507107,50DA72F510E2F84A42712E13744FAC7B,EA9D03A766C1D32A6668FFF0C1EB4E4B,CMT,1,N,2013-08-04 18:42:17,2013-08-04 20:37:19,3,4290965,181.80,-73.978020,40.765167,-73.815041,40.730076
520570,68FADA2827FA3A1AB0FF32EC47F565EB,1E68C0830B73658C43635CAD45ECFDFA,CMT,0,N,2013-08-10 23:27:49,2013-08-10 23:27:49,1,0,57.70,-73.956726,40.767033,-73.956726,40.767033
548988,A978A0AAE9B2CFEE310FACD97A09C319,CE56A27F53ABF411094B6CD708BFBA96,CMT,1,N,2013-08-24 17:03:27,2013-08-24 17:03:29,1,1,442.00,-73.993896,40.702644,-73.993874,40.702637
558665,5A5C516A820FE476E9D3E14101B669AC,C24585AA866FC76A4E09A05F55DC7E54,CMT,2,N,2013-08-29 10:01:40,2013-08-29 11:52:20,1,6640,164.40,-73.791534,40.661026,-73.983734,40.765778
659208,E8E54922CFDFC480893C1E2021506CD4,BCCAFB9AB09496225A0FE39096FD72C0,VTS,1,NaN,2013-10-11 14:43:00,2013-10-11 16:27:00,1,6240,55.80,-73.776817,40.645065,-73.806770,40.659180
672612,9B14258B0E3EF13923996FB8537B2EA0,42834D2C6C221FDA7CDAE3AC95A981D3,VTS,2,NaN,2013-10-17 11:44:00,2013-10-17 13:58:00,5,8040,52.00,-73.790825,40.662148,-73.983200,40.745365

In [29]:
from ipywidgets import interact

In [31]:
@interact
def show_nrows(distance_threshold=(0, 200)):
    return len(data.loc[data.trip_distance > distance_threshold])

4

### Computing with numbers

In [32]:
data['trip_time_in_mins'] = data.trip_time_in_secs / 60.0

In [33]:
data[['trip_time_in_secs', 'trip_time_in_mins']].head(3)

   trip_time_in_secs  trip_time_in_mins
0                300           5.000000
1                960          16.000000
2                386           6.433333

In [34]:
a = data.trip_distance[:5]
a

0    0.61
1    3.28
2    1.50
3    0.00
4    1.31
Name: trip_distance, dtype: float64

In [35]:
b = data.trip_distance[2:6]
b

2    1.50
3    0.00
4    1.31
5    5.81
Name: trip_distance, dtype: float64

In [36]:
a + b

0     NaN
1     NaN
2    3.00
3    0.00
4    2.62
5     NaN
Name: trip_distance, dtype: float64

### Working with text

In [37]:
data.medallion.head(3)

0    76942C3205E17D7E7FE5A9F709D16434
1    517C6B330DBB3F055D007B07512628B3
2    ED15611F168E41B33619C83D900FE266
Name: medallion, dtype: object

In [38]:
data.medallion.str.slice(0, 4).head(3)

0    7694
1    517C
2    ED15
Name: medallion, dtype: object

### Working with dates and times

In [39]:
data.pickup_datetime.dt.dayofweek[::200000]

0         1
200000    6
400000    5
600000    0
800000    1
Name: pickup_datetime, dtype: int64

In [41]:
day_p = data.pickup_datetime.dt.day
day_d = data.dropoff_datetime.dt.day
selection = (day_p != day_d)
print(len(data.loc[selection]))
data.loc[selection].head(10)

7716

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_time_in_mins
2005,6385CA8C99985BFBAFB477A9BDFA28C9,08A78365909D2F09BF72B869C0B21FED,VTS,1,NaN,2013-01-01 23:45:00,2013-01-02 00:03:00,1,1080,12.61,-73.873062,40.774128,-73.983597,40.721539,18.000000
2008,D932DC772B89F69D30F03FB095424F97,F5AE2E36090433DFE4142AFC19AFD495,CMT,1,N,2013-01-01 23:46:22,2013-01-02 00:28:01,1,2498,16.10,-73.781921,40.644657,-73.998512,40.660194,41.633333
2010,33BB4B9DBFD87B7522909FEEB84896F4,412253C6258AF9DCE2D27DE714A84049,CMT,1,N,2013-01-01 23:46:53,2013-01-02 00:03:33,1,1000,5.40,-74.001274,40.725952,-73.980347,40.660503,16.666667
2013,66B35E773D495CB81C738625A33C619D,540881FB05E698CCB354C51563FF34FD,CMT,1,N,2013-01-01 23:49:24,2013-01-02 00:04:37,1,912,5.30,-73.989853,40.734402,-73.973595,40.795391,15.200000
2017,810905D65B788A8EAA8E15FBE4BB92E1,4DAAB407406B1744FA866E92D612EE29,VTS,1,NaN,2013-01-01 23:57:00,2013-01-02 00:04:00,1,420,1.72,-73.969536,40.785477,-73.986252,40.766983,7.000000
2018,D6E912F06EEDB1749B2595C7A1D2901B,F6221366C0C89AD0878A62A2F3BC099B,VTS,1,NaN,2013-01-01 23:58:00,2013-01-02 00:23:00,2,1500,5.49,-73.990562,40.766502,-73.937607,40.795994,25.000000
2019,B37FE442AF1F30E7B92F5349F05DC927,1BB1BDE9F4C40D094DBA0FB2A3098ED7,CMT,1,N,2013-01-01 23:58:22,2013-01-02 00:01:53,1,211,0.80,-73.947212,40.775887,-73.957352,40.770355,3.516667
2020,54259D803495CD413248952C07AC3B87,E96608063D3E79EA8ACBD1745E3367BF,CMT,1,N,2013-01-01 23:58:31,2013-01-02 00:01:55,1,204,1.40,-73.974182,40.762802,-73.991119,40.755203,3.400000
2021,BA9A44E7C08BC64EB007B6DA556B14AC,A244A58A3BE947CDCAA81F603400D74F,CMT,1,N,2013-01-01 23:58:33,2013-01-02 00:13:51,1,918,6.00,-73.987671,40.719818,-73.972046,40.786415,15.300000
2022,8F30FFCCF85BA59647CBB745789E2EB4,E53F58E5BA8AA63CB2C1F2577AC1F97A,VTS,1,NaN,2013-01-01 23:59:00,2013-01-02 00:11:00,1,720,3.81,-74.015678,40.715393,-73.984764,40.739746,12.000000

### Handling missing data